application
.vscode
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles
build
jellyfish.sln
*.vcxproj
*.filters
Win32
Debug
jellyfish.dir
lib/arrrgh
lib/fmt
lib/glad
lib/glfw
lib/glm
lib/lodepng
lib/SFML
lib/stb